:root {
	--clr-bg: #ffffff;
	--clr-bg-grayed: #f6f8fa;
	--clr-bg-grayed-dark: #f0f3f4;
	--clr-text: #24292f;
	--clr-text-grayed: #57606a;
	--clr-border: #d8dee4;
}

html[data-theme='light'] {
	--clr-bg: #ffffff;
	--clr-bg-grayed: #f6f8fa;
	--clr-bg-grayed-dark: #f0f3f4;
	--clr-text: #24292f;
	--clr-text-grayed: #57606a;
	--clr-border: #d8dee4;
}

html[data-theme='dark'] {
	--clr-bg: #0d1117;
	--clr-bg-grayed: #21262d;
	--clr-bg-grayed-dark: #161b22;
	--clr-text: #ffffff;
	--clr-text-grayed: #8b949e;
	--clr-border: #21262d;
}
