/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css';

pre {
    position: relative;
}

div.highlighted {
    color: unset;
    position: absolute;
    width: calc(100% - 2.66666em);
    @apply bg-emerald-600/20;
}

/* div.highlighted::before {
    content: 'hej';
    font-size: inherit;
    position: absolute;
    /* background-color: red; */
/* @apply text-emerald-600; */

/* 
html,
body {
    font-family: 'EB Garamond', serif;
    margin: 0px !important;
    /* font-family: 'Playfair Display', serif; 
} */
